.conteudo {
  display: inline-flex;
  position: relative;
  width: 150vw;
  height: 50vh;
  top: 5vh;
  transition: 2s;
}

.botoes {
  position: relative;
  bottom: -17vh;
  left: 40vw;
  width: 20vw;
  text-align: center;
}

.botoes button {
  width: 10vw;
  background-color: #000;
  border: 0px;
  color: #B3B3B3;
}

.calNoob,.calPro {
  margin-right: 50vw;
}
/* Calculadora Noob */



/* Calculadora Pro */



/* Calculadora God */
.calGod{
  width: 280px;
  height: 400px;
  background-color: #1b1b1b9c;
  border: 2px orangered solid;
  border-radius: 15px;
}

.visor{
  width: 245px;
  height: 70px;
  background-color: #00000080;
  border: 1px orangered solid;
  margin: 13px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.visor p {
  color: white;
  font-size: 25pt;
  margin-top: 19px;
  margin-bottom: 0px;
  text-align: right;
  padding-right: 10px;
  padding-left: 5px;
}
.numeros{
  width: 270px;
  height: 300px;
  margin: 13px;
}

.col{
  height: 60px;
  display: flex;
}

.teclas{
  font-size: 19pt;
  background-color: #000000a8;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
  border: 2px black solid;
  border-radius: 15px;
}

.teclas p{
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  color: white;
}

.teclas:active {
  background-color: darkgray;
  border: 2px orangered solid;
}

.teclas:active p{
  color: orangered;
  font-weight: bold;
}
