.conteudo {
  display: inline-flex;
  position: relative;
  width: 150vw;
  top: 5vh;
  transition: 2s;
}

.calNoob,.calPro {
  margin-right: 50vw;
}
/* Calculadora Noob */



/* Calculadora Pro */



/* Calculadora God */
.calGod{
  width: 300px;
  height: 430px;
  background-color: #1b1b1b9c;
  border: 2px orangered solid;
  border-radius: 15px;
}

.visor{
  width: 270px;
  height: 75px;
  background-color: #00000080;
  border: 1px orangered solid;
  margin: 15px;
  border-radius: 10px;
}

.visor p {
  color: white;
  font-size: 25pt;
  margin-top: 19px;
  margin-bottom: 0px;
  text-align: right;
  padding-right: 10px;
  padding-left: 5px;
}
.numeros{
  width: 270px;
  height: 300px;
  margin: 15px;
}

.col{
  height: 60px;
  display: flex;
}

.teclas{
  font-size: 19pt;
  background-color: #000000a8;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  border: 2px black solid;
  border-radius: 15px;
}

.teclas p{
  margin: 0px;
  margin-top: 10px;
  align-items: center;
  color: white;
}

.teclas:active {
  background-color: darkgray;
  border: 2px orangered solid;
}

.teclas:active p{
  color: orangered;
  font-weight: bold;
}
