.principal {
  width: 50vw;
  height: 70vh;
  margin: auto;
  margin-top: 10vh;
  display: flex;
}

.info, .habi {
  display: inline-block;
}

.info {
  width: 20vw;
  text-align: center;
}

.info img {
  border-radius: 100%;
  margin-bottom: 3vh;
}

.habi {
  width: 30vw;
  text-align: center;
}

.habi div {
  display: inline-block;
  width: 15vw;
  margin-top: 3vh;
}
