<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-1" routerLinkActive="active">
      <a [routerLink]="['/Home']">Home</a>
    </div>
    <div class="col-2" routerLinkActive="active">
      <a [routerLink]="['/Calculadora']">Calculadora</a>
    </div>
    <div class="col-1" routerLinkActive="active">
      <a [routerLink]="['/EventsReferences']">EvRef</a>
    </div>
    <div class="col-2" routerLinkActive="active">
      <a [routerLink]="['/ChuckNorris']">Chuck Norris</a>
    </div>
    <div class="col-2" routerLinkActive="active">
      <a [routerLink]="['/ListaCompras']">Lista de Compras</a>
    </div>
    <div class="col-1" routerLinkActive="active">
      <a [routerLink]="['/p-color']">Cor</a>
    </div>
    <div class="col-1" routerLinkActive="active">
      <a [routerLink]="['/Anime']">Anime</a>
    </div>
  </div>
</div>
